@use "variables" as v;
@use "mixins" as m;

* {
  list-style: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: v.$fuente_principal;
  font-size: 1.8rem;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}